@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@300&display=swap');
body {
    background-position: 0in;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #a69c95; 
}
nav {
	padding: 1rem;
  background-color:#3a3a3a;
  border-style: solid;
  text-align: center;
  box-sizing: border-box;
}

nav > a {
	text-decoration: none;
	color: beige;
	margin: 1rem;
}

nav > a:hover {
	color: silver;
}
/* text-description */
#description {
    font-size: 50%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 350px;
    height: 350px;
    padding-top: 30px;
    padding-left: 20px;
    background-color: rgba(142, 179, 158, 0.511);
    bottom: 50px;
    right: 150px;
    position:static;
    }
#description, #description h2 {
color: #fff;
}

h1 {
font-size: 200%;
font-family:cursive;
color:rgba(0, 0, 0, 0.284);
text-align: center;
text-decoration:solid;
text-transform: none;

}
h2 {
font-family: Dancing-script;
text-align: center center;
text-emphasis:inherit;
letter-spacing: 8px;
margin-top: 0%;
}
#start {
    height: 500px;
    width: 100%;
    position: relative;
  }
  
  #first-picture {
    height: 500px;
    width: 1500;
      background-image:url(../image/love.webp);
      background-repeat: no-repeat;
      margin-top: 30px;
      margin-right: 800px;
      margin-left: 100px;
  }
    #picture-brushes {
      background-image:url(../image/pexels-photo-5208694.jpeg);
      background-repeat: no-repeat;
      text-align: center center;
      margin-top: 50px;
      margin-left: 40px;
      width: 1500px;
      height: 1000px;
      padding-top: -5000%;
      bottom: -500px;
    }
    #about-pablo {
      position: relative;
      top: 60px;
      left: 50px;
      right: 50px;
      width: 30%;
      padding: 0%;
      display: block;
      margin: 40px;
      text-align: center center;
      bottom: 80%;
      margin-right: 0%;
    }
  #period { 
    position: relative;
    top: -400px;
    left: 500px;
    right: 3000px;
    width: 30%;
    padding: 0%;
    display: block;
    margin: 80px;
    text-align: center center;
    bottom: 0%;
    margin-right: 500px;
  }
